*{
    padding: 0;
    margin:0; 
}

.wrapperContainer{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.navContainer{
    height: 10%;
    background-color: aqua;
}
.childContainer{
    height: 90%;
    background-color: blueviolet;
}